.article-preview {
  display: flex;
  width: 100%;
  min-height: 100vh;
  @include tablet {
    flex-direction: column;
  }
  &--order {
    & .article-preview__block:first-child {
      order: 2;
    }
    @include tablet {
      & .article-preview__block:first-child {
        order: 0;
      }
    }
    & .article-preview__title {
      transform: rotate(90deg);
      right: -3em;
      left: initial;
      @include tablet {
        transform: none;
      }
    }
  }
  &__title {
    position: absolute;
    top: 40%;
    left: -1.5em;
    font-size: 3em;
    line-height: .9;
    text-transform: uppercase;
    transform: rotate(-90deg);
    @include tablet {
      position: static;
      transform: none;
      font-size: 2em;
      margin-top: 30px;
      padding: 20px;
      text-align: center;
    }
  }
  &__block {
    width: 50%;
    position: relative;
    overflow: hidden;
    color: $black;
    @include tablet {
      width: 100%;
    }
  }
  &__main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $white;
  }
  &__img-wrapper {
    width: 50%;
    height: 70%;
    overflow: hidden;
    margin: 0 auto 7vh auto;
    @include tablet {
      width: 100%;
      height: 80vh;
      padding: 20px;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__descr {
    font-family: serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
  }
  &__img-wrapper-mini {
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: flex-end;
    & img {
      @include landscape {
        object-fit: unset;
        height: auto;
      }
    }
  }
  &__text {
    padding-top: 5vh;
    height: 80vh;
    width: 70%;
    margin: 10px auto;
    @include tablet {
      height: auto;
    }
  }
  &__title-mini {
    font-size: 48px;
    margin: 10px 0;
  }
  &__list {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 2vh;
    @include tablet {
      font-size: 2.5vh;
    }
    @include mobileL {
      font-size: 1.8vh;
    }
  }
  &__item {
    display: inline;
    margin-right: 5px;
    &:not(:first-child):before {
      content: "/\00a0";
      color: $accent;
      margin-right: 5px;
    }
  }
  &__task {
    padding: 50px 0;
    width: 70%;
  }
  &__link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
  }
  &__link {
    font-size: 24px;
    color: $accent;
    &:after {
      content: "+";
      margin-left: 2px;
    }
    &:hover {
      @extend .blur;
    }
  }
}