div(class="ticker")
  a(class="ticker__link" href="mailto:sai.osore@gmail.com")
    span(class="ticker__move")
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
    span(class="ticker__move")
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com
      span() sai.osore@gmail.com