.nav {
  &__link {
    position: fixed;
    color: $black;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    transition: color .3s cubic-bezier(.25,.46,.45,.94);
    &--light {
      color: $white;
    }
    &--active {
      color: $accent;
    }
    &:hover {
      color: $accent;
    }
    &--works {
      top: 3%;
      right: 1.2%;
      transform-origin: 50% 150%;
      transform: rotate(90deg);
    }
    &--about {
      top: 3%;
      left: 1.2%;
    }
    &--contact {
      bottom: 1%;
      left: 1.2%;
      transform-origin: 0 0;
      transform: rotate(-90deg);
    }
    &--cold {
      display: none;
      opacity: .3;
      bottom: 3%;
      right: 1.2%;
    }
  }
}