//colors
$black: #000;
$black-light: lighten($black, 10%);
$black-dark: lighten($black, 6%);
$white: #fff;
$main: #DBD5E6;
$accent: #ae2532;
$second: #cad3e6;
$active: #8B0000;
$alert: #FF0000;
$gradient: linear-gradient(left, #c5d2d3 0%,#475b5d 51%,#475b5d 51%,#1e2626 100%);
$shadow-down: 0px 0px 4px 4px rgba(0,0,0,0.40);
