html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  cursor: crosshair;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #101010;
}
.overlay__title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 200px;
  font-weight: 800;
  color: #323232;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1024px) {
  .overlay__title {
    font-size: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .overlay__title {
    font-size: 100px;
  }
}
@media only screen and (max-width: 520px) {
  .overlay__title {
    font-size: 70px;
  }
}
.overlay--color {
  z-index: 0;
  background-color: #48A9A6;
}

.btn {
  display: block;
  padding: 24px 48px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  border: 2px solid #fff;
  background: none;
  z-index: 1;
  cursor: crosshair;
  -webkit-transition: .8s ease-out;
  transition: .8s ease-out;
}

.myBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.myBtn:hover {
  color: #101010;
  cursor: crosshair;
}
.myBtn:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: .8s ease-out;
  transition: .8s ease-out;
}
.myBtn:hover:before {
  top: 0;
}

.content {
  display: block;
  position: absolute;
  top: 60%;
  left: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 60%;
  margin: 0 auto;
  z-index: 0;
  color: #fff;
  background: url(../img/blue.gif);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content__title {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  white-space: nowrap;
}
.content__text {
  font-size: 20px;
  margin-top: 0;
  text-align: left;
  font-weight: 400;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hero.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.menu {
  width: 100%;
  margin-top: 50vh;
  font-size: 24px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .menu {
    height: 300px;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}
.menu__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
}
.menu__link {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu__link:hover .menu__img {
  opacity: 1;
}
.menu__img {
  position: absolute;
  top: -70px;
  left: 70px;
  width: 100px;
  height: 100px;
  z-index: -1;
  opacity: 0;
}

.forAnima {
  display: none;
  text-align: center;
}
.forAnima__title {
  font-size: 51px;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .forAnima__title {
    font-size: 40px;
  }
}
.forAnima__text {
  font-size: 18px;
  max-width: 500px;
  margin: 0 auto 20px;
  padding: 10px;
}

.my-way {
  width: 100%;
  background: #251425;
  position: relative;
  padding-bottom: 50px;
}
.my-way__text {
  margin-bottom: 50px;
}
.my-way__wrapper {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: -109px;
  border-width: 0 0 110px 2560px;
  border-color: transparent transparent #251425;
  z-index: -1;
}

.time-line {
  width: 100%;
  position: relative;
}
.time-line__wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
  width: 90%;
  height: 5px;
  background: #fff;
  -webkit-transition: 1s all;
  transition: 1s all;
}
@media only screen and (max-width: 768px) {
  .time-line__wrapper:before {
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
    height: 20px;
  }
}
.time-line__dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .time-line__dates {
    display: none;
  }
}

.drop-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .drop-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.box {
  height: 200px;
  width: 200px;
  background-color: black;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.held {
  border: solid 10px black;
  background-color: black;
}

.holder {
  height: 210px;
  width: 210px;
  margin: 10px;
  border: solid 5px black;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.hovered {
  border: dotted 5px black;
}

.invisible {
  display: none;
}

.art {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: red;
  z-index: 0;
}
.art__title:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: yellow;
  z-index: -1;
}

.ocean {
  height: 100%;
  width: 100%;
}

.boat {
  position: absolute;
  bottom: 77px;
  left: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: swell 7s ease -1.25s infinite, boat 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: swell 7s ease -1.25s infinite, boat 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}
.boat__sail polygon {
  -webkit-animation: sail 7s infinite;
          animation: sail 7s infinite;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sea {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 42px;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}
@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}
@-webkit-keyframes boat {
  0%, 100% {
    -webkit-transform: translate3d(-25px, -182px, 0) rotate(10deg);
            transform: translate3d(-25px, -182px, 0) rotate(10deg);
  }
  50% {
    -webkit-transform: translate3d(-135px, 42px, 0) rotate(-10deg);
            transform: translate3d(-135px, 42px, 0) rotate(-10deg);
  }
}
@keyframes boat {
  0%, 100% {
    -webkit-transform: translate3d(-25px, -182px, 0) rotate(10deg);
            transform: translate3d(-25px, -182px, 0) rotate(10deg);
  }
  50% {
    -webkit-transform: translate3d(-135px, 42px, 0) rotate(-10deg);
            transform: translate3d(-135px, 42px, 0) rotate(-10deg);
  }
}
@-webkit-keyframes sail {
  0%, 100% {
    fill: #900;
  }
  20% {
    fill: #060;
  }
  40% {
    fill: #ff0;
  }
  60% {
    fill: #036;
  }
  80% {
    fill: #000;
  }
}
@keyframes sail {
  0%, 100% {
    fill: #900;
  }
  20% {
    fill: #060;
  }
  40% {
    fill: #ff0;
  }
  60% {
    fill: #036;
  }
  80% {
    fill: #000;
  }
}
.portfolio {
  width: 100%;
  background: orange;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 18px 28px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 18px 28px 1px rgba(0, 0, 0, 0.4);
}
.portfolio__wrapper {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: -109px;
  border-width: 0 2560px 110px 0;
  border-color: transparent transparent orange;
  z-index: -1;
}
.portfolio__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .portfolio__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.portfolio__link {
  position: relative;
  display: block;
  margin: 20px;
}
.portfolio__link:hover .portfolio__hov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio__hov {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__text {
  text-align: center;
  padding: 10px;
}

.footer {
  width: 100%;
  background: #fff;
  position: relative;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.footer__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .5;
  z-index: -1;
}
.footer:hover .footer__wrapper {
  opacity: 1;
}

.contacts {
  color: #000;
}

.email {
  font-size: 22px;
  color: #000;
}

.social__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}
.social__link {
  margin-right: 10px;
}

/*# sourceMappingURL=build.css.map */