extends layouts/default

block variables
  - const title = 'Sai Osore - Blevogue'
  - const navLinkColor = 'nav__link--light'
  - const nextProject = './flowthelabel.html'
  -
    main = { title: 'Blevogue',
          loop: ['react', 'styled components', 'webpack'],
          link: false,
          text: 'in process',
        }
  -
    articles = [
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/blevogue/dd.jpg',
          alt: 'collage',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--mid',
          srcVideo: 'assets/img/blevogue/blevogue 1.mp4',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center',
          srcVideo: 'assets/img/blevogue/v.mp4',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--mid',
          srcVideo: 'assets/img/blevogue/blevogue canvas.mp4',
        },
        { type: 'text',
          text1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
          text2: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--mid',
          srcVideo: 'assets/img/blevogue/blevogue art.mp4',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--mid',
          srcVideo: 'assets/img/blevogue/blevogue inner.mp4',
        },
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/blevogue/c2.jpg',
          alt: 'collage premier',
        },
        { type: 'mix',
          srcImg: 'assets/img/blevogue/as.jpg',
          alt: 'Dasha Astafieva',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
        },
      ]

block content
  div(class="work")
    +workMain(main.title, main.loop, main.link, main.text)
    +work(articles)
    +workFooter(nextProject)