extends layouts/default

block variables
  - const title = 'Sai Osore - Contact'

block content
  div(class="contact")
    section(class="contact__main")
      div(class="contact__container")
        div(class="contact__line")
          p(class="contact__descr") Let's 
            strong() collaborate 
            | together!
        div(class="contact__line")
          p(class="contact__descr") 
            span(class="contact__square") Write to me
            a(class="contact__link" href="mailto:sai.osore@gmail.com") sai.osore@gmail.com
        div(class="contact__line")
          p(class="contact__descr") for 
            strong() making 
            p(class="loop contact__loop") new projects!