extends layouts/default

block variables
  - const title = 'Sai Osore - dev-skillselopment'

block content
  div(class="dev")
    section(class="main dev-main")
      div(class="container-inner")
        h1(class="dev-main__title") The vision is to continuously build on my skillset making frontend development the sole focus.
        h2(class="dev-main__title-sub") The vision is to continuously build on my skillset making frontend development the sole focus.
        h3(class="dev-main__title-descr") The vision is to continuously build on my skillset making frontend development the sole focus.
    section(class="section dev-skills")
      div(class="container-inner dev-skills__container dev-skills__container--column")
        div(class="dev-skills__block dev-skills__block--mini")
          h2(class="dev-skills__title") Education.
          h4(class="dev-skills__title-descr") Continously learning
          h6(class="dev-skills__title-section") 2015
          h5(class="dev-skills__title-name") Petro Tchaikovsky National Music Academy of Ukraine
          h6(class="dev-skills__title-section") 2014
          h5(class="dev-skills__title-name") S.S. Prokofiev State Music Academy of Donetsk
          hr()
          h6(class="dev-skills__title-section") 2019
          h5(class="dev-skills__title-name") Different Front-End Development Courses
          h6(class="dev-skills__title-section") 2019
          h5(class="dev-skills__title-name") SoloLearn Basic JS Courses
          h6(class="dev-skills__title-section") 2019
          h5(class="dev-skills__title-name") ITVDN - HTML5, CSS3 online video tutorials
        div(class="dev-skills__block")
          h2(class="dev-skills__title") Skillset.
          h4(class="dev-skills__title-descr") Lets rock
          div(class="dev-skills__container")
            div(class="dev-skills__block-inner")
              section(class="dev-skills__block-section")
                h6(class="dev-skills__title-section") Development
                ul(class="dev-skills__list")
                  li(class="dev-skills__item") HTML
                  li(class="dev-skills__item") CSS
                  li(class="dev-skills__item") Javascript
                  li(class="dev-skills__item") JQUERY
                  li(class="dev-skills__item") GIT
                  li(class="dev-skills__item") GULP
                  li(class="dev-skills__item") Scss
              section(class="dev-skills__block-section")
                h6(class="dev-skills__title-section") Design
                ul(class="dev-skills__list")
                  li(class="dev-skills__item") Photoshop
                  li(class="dev-skills__item") Figma
            div(class="dev-skills__block-inner")
              section(class="dev-skills__block-section")
                h6(class="dev-skills__title-section") Photography
                ul(class="dev-skills__list")
                  li(class="dev-skills__item") Photoshop
                  li(class="dev-skills__item") Lightroom
                  li(class="dev-skills__item") Studio Lighting Setup
                  li(class="dev-skills__item") Retouch
              section(class="dev-skills__block-section")
                h6(class="dev-skills__title-section") Motion
                ul(class="dev-skills__list")
                  li(class="dev-skills__item") Premiere Pro
            div(class="dev-skills__block-inner")
                section(class="dev-skills__block-section")
                  h6(class="dev-skills__title-section") Other
                  ul(class="dev-skills__list")
                    li(class="dev-skills__item") Trello
                    li(class="dev-skills__item") C1 
                    li(class="dev-skills__item") Ableton Live 
                    li(class="dev-skills__item") Cubase 
                section(class="dev-skills__block-section")
                  h6(class="dev-skills__title-section") In progress
                  ul(class="dev-skills__list")
                    li(class="dev-skills__item") Webpack
                    li(class="dev-skills__item") React
                    li(class="dev-skills__item") Redux
                    li(class="dev-skills__item") GSAP
    include ./blocks/collab/collab