extends layouts/default

block variables
  - const title = 'Sai Osore - Holy Mara'
  - const navLinkColor = 'nav__link--light'
  - const nextProject = './waxom.html'
  -
    main = { title: 'Holy Mara',
          loop: ['js', 'scss', 'webpack'],
          link: '#',
          text: 'Site',
        }
  -
    articles = [
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/kazhan/evil.jpg',
          alt: 'girl and the devil',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--mid',
          srcVideo: 'assets/img/kazhan/kazhan main.mp4',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center',
          srcVideo: 'assets/img/kazhan/clouds.mp4',
        },
        { type: 'text',
          text1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
          text2: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        },
        { type: 'img',
          articleClass: 'work-article--h',
          articleImg: 'assets/img/kazhan/clouds.jpg',
          figureClass: 'work-article__figure--center work-article__figure--mini',
          srcImg: 'assets/img/kazhan/mask.jpg',
          alt: 'japan mask',
        },
        { type: 'video',
          figureClass: 'work-article__figure--max',
          srcVideo: 'assets/img/kazhan/kazhan 1.mp4',
        },
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/kazhan/2.jpg',
          alt: 'model',
        },
        { type: 'mix',
          srcImg: 'assets/img/kazhan/vampire.jpg',
          alt: 'vampire girl',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
        },
      ]

block content
  div(class="work")
    +workMain(main.title, main.loop, main.link, main.text)
    +work(articles)
    +workFooter(nextProject)
