extends layouts/default

block variables
  - const title = 'Sai Osore - Skills'
  - const navLinkColor = 'nav__link--light'
  -
    skills = [
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/main.JPG',
          alt: 'my skills',
        },
        { type: 'text',
          text1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
          text2: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center',
          srcVideo: 'assets/video/1.mp4',
        },
      ]
  -
    music = [
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/main.JPG',
          alt: 'my skills',
        },
        { type: 'text',
          text1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
          text2: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        },
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/main.JPG',
          alt: 'my skills',
        },
        { type: 'video',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center',
          srcVideo: 'assets/video/1.mp4',
        },
      ]
  -
    ph = [
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/main.JPG',
          alt: 'my skills',
        },
        { type: 'text',
          text1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
          text2: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        },
        { type: 'img',
          articleClass: 'work-article--h',
          figureClass: 'work-article__figure--center work-article__figure--max',
          srcImg: 'assets/img/main.JPG',
          alt: 'my skills',
        },
      ]
  -
    sales = [
        { type: 'mix',
          srcVideo: 'assets/video/1.mp4',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!',
        },
      ]

block content
  div(class="skills")
    main(class="main work-main")
      h1(class="work-main__title") Skills
    +work(skills)
    section(class="main work-main")
      h2(class="work-main__title") Music
    +work(music)
    section(class="main work-main")
      h2(class="work-main__title") Photography & Retouch
    +work(ph)
    section(class="main work-main")
      h2(class="work-main__title") Sales
    +work(sales)
    include ./blocks/collab/collab
