extends layouts/default

block variables
  - const title = 'Sai Osore - Work'
  - const navLinkColor = 'nav__link--light'

block content
  div(class="work")
    main(class="main work-main")
      h1(class="work-main__title") Title
      footer(class="work-main__footer")
        a(class="work-main__link-back" href="./works.html")
          span() back to all projects
        div(class="work-main__text")
          p(class="work-main__title-mini") Kazhan 
          ul(class="article-preview__list")
            li(class="article-preview__item") gulp
            li(class="article-preview__item") pug
            li(class="article-preview__item") barbaJs
          div(class="article-preview__link-wrapper")
            a(class="article-preview__link" href="#") 
              span() Site
    article(class="work-article")
      figure(class="work-article__figure work-article__figure--center  work-article__figure--max")
        div(class="work-article__vis-wrapper")
          div(class="work-article__vis-container")
            img(class="work-article__img" src="assets/img/main.JPG")
    article(class="work-article")
      figure(class="work-article__figure work-article__figure--center ")
        div(class="work-article__vis-wrapper")
          div(class="work-article__vis-container")
            video(class="work-article__video" src="assets/video/1.mp4" poster="assets/video/1.mp4" autoplay loop muted)
    article(class="work-article work-article--text")
      div(class="work-article__half")
        div(class="work-article__half-block") 
          p(class="work-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti, dolore ab, repellat rerum voluptas eius alias sint numquam, architecto dolores quos quod? Repellat ut explicabo minima quos ad velit!
        div(class="work-article__half-block") 
          p(class="work-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis architecto similique, error dicta recusandae. Quidem ex facere quisquam a quod, pariatur sunt veritatis quasi. Cumque aperiam, ipsum iusto nam tempore.
    article(class="work-article")
      figure(class="work-article__figure work-article__figure--center work-article__figure--mini")
        div(class="work-article__vis-wrapper")
          div(class="work-article__vis-container")
            img(class="work-article__img" src="assets/img/main.JPG")
    article(class="work-article")
      figure(class="work-article__figure work-article__figure--center  work-article__figure--max")
        div(class="work-article__vis-wrapper")
          div(class="work-article__vis-container")
            img(class="work-article__img" src="assets/img/main.JPG")
    article(class="work-article")
      div(class="work-article__half")
        div(class="work-article__half-block") 
          figure(class="work-article__figure")
            div(class="work-article__vis-wrapper")
              div(class="work-article__vis-container")
                video(class="work-article__video" src="assets/video/1.mp4" poster="assets/video/1.mp4" autoplay loop muted)
        div(class="work-article__half-block") 
          p(class="work-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis architecto similique, error dicta recusandae. Quidem ex facere quisquam a quod, pariatur sunt veritatis quasi. Cumque aperiam, ipsum iusto nam tempore.
    footer(class="work-footer")
      a(class="work-footer__link" href="./works.html")
        span() back to all projects
      a(class="work-footer__link" href="#")
        span() next
